
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .card {
        width: 26%;
        height: 200px;
        margin: 70px;
        border-radius: 0 15px 15px 10%;

        cursor: pointer;
        
        position: relative;

    }

    .card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .fondo {
        position: absolute;
        top: 0;
        left: -120px;
        height: auto;
        width: 69%;
        background-color: #1b4332e8;
        color: var(--color-fondo);
        padding: 35px 15px;
        border-radius: 0 100px 100px 0;
        font-weight: bold;
        
    }


    h3 {
        padding-top: 30px;
    
    }

    span{
        border-radius: 100%; 
        background-color: var(--color-acento);
        padding: 10px;
        color: var( --color-texto);
        font-weight: bold;
        font-size: 18px;
    }



    @media screen and (max-width: 905px) {
        span{
            font-size: 15px;
            top: 2px;
            right: 2px;

        }
        h3,p{
        
            font-size: 15px;
            line-height: 9px;
        }
        
        

         .cards {
            margin-top: 15px;
            flex-direction: column;
            align-items: center;
        }

        .card {
            width: 90%;
            margin: 20px 0;
        }
        
    }

    @media screen and (max-width: 710px) {
        .card {
            width: 70%;
            margin: 20px;
            margin-left: 85px;
        }


    }

