





<header>
    <h1 id="tituloWeb">Recetas para dummies</h1>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/recetas">Recetas</a></li>
            <li><a href="/recetasItalianas">Recetas italianas</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
</header>

<style>
        
    *{
        margin: 0 auto;
        font-family: var(--fuente-principal);
        text-decoration: none;
        list-style: none;
    }

    header{
        min-height: 100px;
        max-height: 400px;
        background-color: var(--color-principal);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
        
    }

    h1{
        margin-left: 80px;
        font-size: 70px;
        color: var(--color-fondo);
    }
    ul{
        display: flex;
        margin-top: 20px;
       
    }
    ul li{
        background-color: var(--color-acento);
        font-weight: bold;
        font-size: 20px;
        padding: 15px;
        margin:5px;
        cursor: pointer;
         transition: all 400ms ease-in-out;
        
        }
        ul li:hover{
            background-color: var(--color-texto);
            transform: translateY(-4px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
        }
        ul li a{
            color: var(--color-texto);
        }
        ul li:hover a{
            color: var(--color-acento);
        }
        a:focus-visible {
            
            outline: none;
            color: white;
        }





        @media (max-width: 550px) {

        header {
            flex-direction: column;
            align-items: flex-start;
        }

        #tituloWeb {
            font-size: 1.9rem;
        }


        nav ul {
            flex-direction: column;
            width: 100%;
            margin-top: 15px;
        }

        nav ul li {
            width: 75%;
            text-align: center;
        }

        ul li{
        
        font-size: 17px;
        padding: 10px;
        }
        
}


</style>