---

import "../styles/recipes.css";

import { getRecipes } from "../data/recipes";

const recetas = await getRecipes();
---

<div class="cards">
    {
        recetas.filter((receta) => receta.tipo === "Italian").map((receta) => (
                <div class="card" style={`background-image: url(${receta.imagen});`}>
                    <div class="fondo">
                        <span>{receta.dificultad}</span>
                        <h3>{receta.nombre}</h3>
                        <p>{receta.tiempo} min</p>
                    </div>
                </div>
            ))
    }
</div>
