---

import "../styles/variables.css";

const respuesta = await fetch("https://dummyjson.com/recipes");

const data = await respuesta.json();

const recetas = data.recipes;

const resumenRecetas = recetas.map(receta => ({
    nombre: receta.name,
    tiempo: receta.prepTimeMinutes,
    dificultad: receta.difficulty,
    imagen: receta.image
    })
);

---




<div class="cards">
    
    {resumenRecetas.map(reci => (
        <div class="card"  style={`background-image: url(${reci.imagen});`}>
            
                <h3>{reci.nombre}</h3>
                <p>{reci.tiempo} min</p>
                <span>{reci.dificultad}</span>
                
            
        </div>
    ))}

</div>



<style>
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .card{
        width: 30%;
        height: 200px;
        margin: 15px;
        border-radius: 15px;
        padding: 5px;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        background-size: cover;
        background-position: center;
        cursor: pointer;
        
    }
    h3,p,span{
        display: inline;
        padding: 5px;
        background-color:#f4a361cb;
        color: var(--color-texto);
        font-weight: bolder;
        font-size: 20px;
        margin-top: 0;
    }
    
</style>