---
import "../styles/variables.css";
import "../styles/recipes.css";

const respuesta = await fetch("https://dummyjson.com/recipes");

const data = await respuesta.json();

const recetas = data.recipes;

const resumenRecetas = recetas.map((receta) => ({
    nombre: receta.name,
    tiempo: receta.prepTimeMinutes,
    dificultad: receta.difficulty,
    imagen: receta.image,
}));
---

<div class="cards">
    {
        resumenRecetas.map((reci) => (
            <div class="card" style={`background-image: url(${reci.imagen});`}>
                <div class="fondo">
                    <h3>{reci.nombre}</h3>
                    <p>{reci.tiempo} min</p>
                </div>
                    <span>{reci.dificultad}</span>
                
            </div>
        ))
    }
</div>
